<div class="row header">
  <div class="columns small-12 medium-3">
    <a routerLink="/">
      <img src="/assets/images/logo.png" id="logo">
    </a>
  </div>
  <div class="columns small-12 medium-9">
    <a class="cta-btn nav" (click)="postTutorial()">Post Tutorial</a>
    <ng-template #unauthenticated>
      <a routerLink="register" class="cta-btn nav">Register</a>
      <a routerLink="login" class="cta-btn nav">Login</a>
    </ng-template>
    <a *ngIf="auth.isLoggedIn;else unauthenticated" (click)="logOut()" class="cta-btn nav">Sign out</a>
  </div>
</div>
